$background__light: #f8f8ff;
$background__dark: #040d14;

$textPrimary__light: #36454f;
$textPrimary__dark: #f0f4f6;
$textSecondary__light: #656b6f;
$textSecondary__dark: #6f7e8c;

$inputBorder__light: #040d14;
$inputBorder__dark: #708090;
