@import "../../style/theme.scss";

.container {
    .news-row {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        a {
            padding: 5px 0;
            color: $textPrimary;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            align-items: end;
        }

        @media (min-width: 1224px) {
            flex-direction: row;
            align-items: center;

            a {
                padding: 0;
            }
        }
    }
}